
/*
=================================================================================
Brand Name
=================================================================================
*/
#brand-name {
    font-family: 'Times New Roman', Times, serif, "Montserrat-Black";
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
}

#brand-name span {
    color: #0f1316;
}



/*
=================================================================================
Nagivation Bar
=================================================================================
*/
/* .navbar {
    background-color: rgb(88, 143, 143);
} */

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;

}

.nav-item {
    padding: 0 13px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}


#searchIcon {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons8-search-50.png'); 
    background-size: cover;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    display: inline-block;
  }
  
  #searchIcon:hover {
    opacity: 0.8; /* Optional: Reduce opacity on hover for visual feedback */
  }
  


.search-container {
    display: flex;
    margin-top: 10px;
  }
  
  .search-container input[type="text"] {
    border: none;
    border-radius: 50px;
    width: 60%;
    font-size: 15px;
  }
  
  .search-container button[type="submit"] {
    width: 20%;
    /* background-color: rgb(49, 73, 73); */
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .search-container button[type="submit"]:hover {
    background-color: #999;
  }
  
  .search-container button[type="submit"] i {
    color: #555;
  } 

  #header-container {
    /* Your existing styles for the header container */
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
}

#header-container.scrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Set the desired background color */
    /* Add any other styles for the scrolled state */
}



  .sticky-nav {
    position: fixed;
    z-index: 100005;
    background-color: rgb(88, 143, 143);
  }



  .nav-menu a.active {
    color: white;
}

/*
=================================================================================
Containers
=================================================================================
*/
.container-fluid {
    padding: 3% 7%;
}

 #inner-nav-container {
    padding: 0 7%;
}

/*
=================================================================================
Other pages
=================================================================================
*/
.navbar-recipe-page {
    padding: 0 6%;
    width: 100%;
}


/*
=================================================================================
Rearrange logo and menu on small screens
=================================================================================
*/
@media screen and (max-width: 1130px) {

    #logo{
        text-align: end;
    }

}

@media screen and (max-width: 500px) {
    .mobile-nav {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #brand-name {
        font-size: 30px;
    }

    .menu {
        padding-bottom: 1.4rem;
    }

    .hamburger {
        width: 25px;
    }

    .mobile-nav {
        width: 100%;
    }
}

@media screen and (max-width: 289px) {
    #brand-name {
        font-size: 10px;
    }

    .menu {
        padding-bottom: 4rem;
    }
}




/*
=================================================================================
Hamburger Menu
=================================================================================
*/

.hamburger {
    position: relative;
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0f1316;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

  
/*
=================================================================================
Mobile Nav bar
=================================================================================
*/

/* Initially, hide the mobile-nav */
.mobile-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    max-height: 100vh;
    overflow-y: auto;
    display: block;
    z-index: 10004;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 144px;
    backdrop-filter: blur(5px);
    transition: 0.4s;
    text-align: center;
}
  
.mobile-nav.is-active {
    left: 0;
}
  
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

}

.sidebar-menu li {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.sidebar-menu a {
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(29, 63, 63);
    transition: 0.3s;
}

.sidebar-menu a:hover {
    color: black;
    font-weight: bolder;
    border-bottom: 1px solid grey;
    display: inline-block;
    
}

#header-container {
    display: flex;
    align-items: stretch;
    /* background-color: rgb(88, 143, 143); */
    color: white;
  }

  .hr {
    border: 0;
    border-top: 3px solid #0f1316;
  }

  .mobile-nav-icon i {
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0 20px;
    display: inline-block;
    margin-right: 20px;
}

.mobile-nav-icon a {
    color: rgb(29, 63, 63);
    display: inline;
    align-items: center;
    justify-content: center;
}

.mobile-nav-icon a:hover {
    color: silver;
}


.mobile-nav-search {
    text-align: center; /* Center the search input */
}

.mobile-search-container {
    display: flex;
    margin-top: 10px;
}

.mobile-search-container input[type="text"] {
    border: 2px solid grey; /* Increase the border thickness */
    border-radius: 50px;
    width: 100%; /* Adjust the width as needed */
    font-size: 18px;
    padding: 8px; /* Add some padding to the input */
}

.mobile-nav-paragraph {
    color: #0f1316;
    text-align: center;
    font-size: 20px;
}


/*
=================================================================================
Hides hamburger on bigger screens
=================================================================================
*/

@media (min-width: 992px){
    .hamburger {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
}


